<h1 class="text-center">Information about User</h1>
<form method="POST" action="/get_json">
  <div class="form-group">
    <label><h1 class="text-center">API KEY</h1></label>
    <input type="string" class="form-control" name="api_key">
    <hr>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  </div>
</form>
<hr>
<h1 class="text-center">Create new product</h1>
<form method="POST" action="/post_json">
  <div class="form-group">
    <label><h1 class="text-center">API KEY</h1></label>
    <input type="string" class="form-control" name="api_key">
    <label><h1 class="text-center">SHOP ID</h1></label>
    <input type="string" class="form-control" name="shop_id">
    <label><h1 class="text-center">SHOPE CODE</h1></label>
    <input type="string" class="form-control" name="shop_code">
    <label><h1 class="text-center">VARIANT ID</h1></label>
    <input type="string" class="form-control" name="variant_id">
    <label><h1 class="text-center">NAME</h1></label>
    <input type="string" class="form-control" name="name">
    <label><h1 class="text-center">PRICE INCLUDE TAX</h1></label>
    <input type="integer" class="form-control" name="priceinctax">
    <label><h1 class="text-center">PRICE WITHOUT TAX</h1></label>
    <input type="string" class="form-control" name="stockstatus">
    <label><h1 class="text-center">Picturelink</h1></label>
    <input type="string" class="form-control" name="picturelink">
    <label><h1 class="text-center">Deeplink</h1></label>
    <input type="string" class="form-control" name="deeplink">
    <hr>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  </div>
</form>
