
<form method="POST" action="/request">
  <div class="form-group">
    <label><h1 class="text-center">API KEY</h1></label>
    <input type="string" class="form-control" name="api_key">
    <hr>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  </div>
</form>
